# Les Variables
Rien à voir avec les salaires

### 4 types de variable à connaître absolument
- Integer : nombre entier
- Float : nombre décimal
- String : chaîne de caractères
- Boolean : variable binaire

### Convention de nommage
- utiliser uniquement des minuscules
- séparer les mots par des underscores

Quitte à écrire plus, il faut essayer de rendre le nom de la variable aussi informatif que possible quant au contenu

Exemple : 
- `age_du_capitaine`

Contre-exemples:
- `ageDuCapitaine`
- `capitaine`

### Déclarer une variable

In [2]:
exemple_de_chaine = "Ceci est une chaîne de caractères"
exemple_entier = 2
exemple_flottant = 2.4

In [4]:
print(type(exemple_de_chaine))
print(type(exemple_entier))
print(type(exemple_flottant))

<class 'str'>
<class 'int'>
<class 'float'>

### Les entiers

In [37]:
a = 2
b = 3

In [38]:
print(a, "(type :", type(a), ")")
print(b, "(type :", type(b), ")")

2 (type : <class 'int'> )
3 (type : <class 'int'> )

In [39]:
c = a + b
print(c, "(type :", type(c), ")")

5 (type : <class 'int'> )

### Les flottants

In [40]:
x = 1.1
y = 2.3

In [41]:
print(x, "(type :", type(x), ")")
print(y, "(type :", type(y), ")")

1.1 (type : <class 'float'> )
2.3 (type : <class 'float'> )

In [42]:
z = x + a
print(z, "(type :", type(z), ")")

3.1 (type : <class 'float'> )

### Un peu de maths pour la route

In [43]:
abs(-2)

2

In [44]:
pow(2, 3)

8

In [45]:
2**3

8

In [46]:
round(3.14, 1)

3.1

In [47]:
f = 1.234456778
round(f, 4)

1.2345

### Les chaînes de caractères

In [48]:
s1 = 'Je travaille à Axa'
s2 = " et je connais le Python ;)"

In [49]:
s = s1 + s2
print(s)

Je travaille à Axa et je connais le Python ;)

In [50]:
s3 = "J'ai choisi le nombre : "
s4 = s3 + a

TypeError: can only concatenate str (not "int") to str

In [51]:
s4 = f"J'ai choisi le nombre {a}"
print(s4)

J'ai choisi le nombre 2

### Les variables binaires

In [52]:
variable_binaire = True

In [55]:
print(variable_binaire)
print(type(variable_binaire))

True
<class 'bool'>

In [54]:
resultat_inegalite = 10 < 5

In [56]:
print(resultat_inegalite)
print(type(variable_binaire))

False
<class 'bool'>

# Exercices - Quelques calculs

### Exercice 1
Calculer l'aire d'un disque à l'aide de la formule suivante :
$$A = \pi r^2$$

In [ ]:
pi = 3.14
r = 2

### Exerice 2
1. Créer une variable `i` égale à un nombre entier, que l'on choisira au hasard au hasard (il pourra être intéressant de faire le test avec un nombre très grand ou avec un flottant)
2. Multiplier `i` par 2
3. Ajouter 6 au résultat obtenu 
4. Diviser par 3 le nombre obtenu
5. Soustraire `i` au résultat obtenu.
6. Vérifier que l'on obtienne bien 3

In [ ]:
i = 4
resultat = ...
print(resultat)