# Zoom sur 4 types de variables
Rien à voir avec les salaires. D'ailleurs, je préfère utiliser la terminologie plus pythonique d'objets...

### A connaître absolument
- Integer : nombre entier
- Float : nombre décimal
- String : chaîne de caractères
- Boolean : variable binaire

### Convention de nommage
- utiliser uniquement des minuscules
- séparer les mots par des underscores

Quitte à écrire plus, il faut essayer de rendre le nom de la variable aussi informatif que possible quant au contenu

Exemple : 
- `age_du_capitaine`

Contre-exemples:
- `ageDuCapitaine` : pas `PEP8` !
- `capitaine` : pas assez explicite ! 

**Attention !** Contrairement à `SAS`, `python` est sensible à la casse.

In [1]:
Test = 0
print(test)

NameError: name 'test' is not defined

### Déclarer une variable

In [2]:
exemple_de_chaine = "Ceci est une chaîne de caractères"
exemple_entier = 2
exemple_flottant = 2.4

In [4]:
# On utilise la fonction type pour connaître le... type d'un objet !
print(type(exemple_de_chaine))
print(type(exemple_entier))
print(type(exemple_flottant))

<class 'str'>
<class 'int'>
<class 'float'>

### Les entiers

In [2]:
a = 2
b = 3

In [3]:
print(a, "(type :", type(a), ")")
print(b, "(type :", type(b), ")")

2 (type : <class 'int'> )
3 (type : <class 'int'> )

In [4]:
# Une addition qui conserve le type
c = a + b
print(c, "(type :", type(c), ")")

5 (type : <class 'int'> )

### Les flottants

In [5]:
x = 1.1
y = 2.3

In [6]:
print(x, "(type :", type(x), ")")
print(y, "(type :", type(y), ")")

1.1 (type : <class 'float'> )
2.3 (type : <class 'float'> )

In [7]:
# Une addition qui fait bien ce que l'on veut, malgré les types différents
# Oui le python est un serpent très malin
z = x + a
print(z, "(type :", type(z), ")")

3.1 (type : <class 'float'> )

### Un peu de maths pour la route

In [8]:
# Valeur absolue
abs(-2)

2

In [9]:
# Fonction puissance
pow(2, 3)

8

In [10]:
# Idem : autre syntaxe plus idiomatique
2**3

8

In [11]:
# Arrondit jusqu'à 1 nombre après la virgule
round(3.14, 1)

3.1

In [12]:
# Arrondir jusqu'à 4 nombres après la virgule
f = 1.234456778
round(f, 4)

1.2345

### Les chaînes de caractères

In [13]:
s1 = 'Je travaille à Axa'
s2 = " et je connais le Python ;)"

In [14]:
# Concaténer 2 chaînes
s = s1 + s2
print(s)

Je travaille à Axa et je connais le Python ;)

In [15]:
# On ne peut pas concaténer n'importe quoi !
s3 = "J'ai choisi le nombre : "
s4 = s3 + a

TypeError: can only concatenate str (not "int") to str

In [16]:
# La solution : 
s4 = f"J'ai choisi le nombre {a}"
print(s4)

J'ai choisi le nombre 2

In [19]:
# Mettre en majuscules
s4.upper()

"J'AI CHOISI LE NOMBRE 2"

In [20]:
# Mettre en mininuscules
s4.lower()

"j'ai choisi le nombre 2"

In [21]:
# Remplacer un caractère
s4.replace('2', '3')

"J'ai choisi le nombre 3"

In [22]:
# Premier caractère de la chaîne. Attention ! la numérotation commence à 0 en python
s4[0]

'J'

In [23]:
# Dernier caractère de la chaîne
s4[-1]

'2'

In [18]:
# Mettre le premier caractère en majuscule
'python'.capitalize()

'Python'

### Les variables binaires

In [52]:
variable_binaire = True

In [55]:
print(variable_binaire)
print(type(variable_binaire))

True
<class 'bool'>

In [54]:
# Les résultats de certaines opérations sont stockées dans des booléens
resultat_inegalite = 10 < 5

In [56]:
print(resultat_inegalite)
print(type(variable_binaire))

False
<class 'bool'>

# Exercices - Quelques calculs

### Exercice 1
Calculer l'aire d'un disque à l'aide de la formule suivante :
$$A = \pi r^2$$

In [ ]:
pi = 3.14
r = 2

### Exerice 2
1. Créer une variable `i` égale à un nombre entier, que l'on choisira au hasard (par la suite, il pourra être intéressant de faire le test avec un nombre très grand ou avec un flottant)
2. Multiplier `i` par 2
3. Ajouter 6 au résultat obtenu 
4. Diviser par 2 le nombre obtenu
5. Soustraire `i` au résultat obtenu.
6. Vérifier que l'on obtienne bien 3

In [ ]:
i = 4
resultat = ...
print(resultat)

#### Preuve

$$ \frac{2i + 6}{2} - i = i + 3 - i = 3$$